server {
    listen 80;
    server_name {{ docker_project_name }}.{{ domain_base }};

    location / {
        proxy_pass http://localhost:{{ docker_project_internal_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}